/* global added styles */
:root {
  --ng-primary: #2c6942;
  --ng-white: #f2f4f5;
  ---ng-secondary-one: #ee5858;
  ---ng-secondary-two: #f2f4f5;
  ---ng-secondary-three: #5f6c72;
  ---ng-secondary-four: #2c694226;
  ---ng-secondary-five: #2da5f3;
  ---ng-secondary-six: #2c69420d;
  --bs-purple: #6f42c1;
}
body {
  font-family: "Lexend deca", sans-serif;
  overflow-x: hidden;
}
.ng-bg-white {
  background-color: var(--ng-white);
}
.icon-fill {
  color: var(--ng-primary);
}
.ng-desc-para {
  color: var(---ng-secondary-three);
}
.ng-advert-bg {
  background-color: var(---ng-secondary-four);
}
.advert-btn {
  border: 0;
  background-color: var(--ng-primary);
  border-radius: 10px;
  padding: 6px;
  font-size: 15px;
}
.ng-badge {
  background-color: var(---ng-secondary-one);
}
.ng-bg-primary {
  background-color: var(--ng-primary);
}
.ng-bg-secondary {
  background-color: var(---ng-secondary-two);
}
.mt-10 {
  margin-top: 6rem !important;
}

.ng-m-heading {
  font-size: 18px;
}

.ng-container {
  max-width: 1600px;
  margin: 0 auto;
}

/* ================= NAVBAR  */
body nav.nav-container {
  padding: 10px 20px;
  position: sticky;
  top: 0;
  background-color: var(--ng-white);
  z-index: 70;
}
nav .nav-btn-tool {
  border: none;
  background-color: var(--ng-primary);
  color: white;
  border-radius: 30px;
  padding: 18px;
}

/* ======================== HOME HERO  */
header.masthead {
  position: relative;
  background-color: #2c694275;
  padding: 0px 20px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
}

header.masthead h1,
header.masthead .h1 {
  font-size: 2rem;
}

.masthead .masthead-container {
  z-index: 30;
}
.masthead .masthead-search {
  z-index: 50;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}
.masthead .masthead-images {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* border: 2px solid red; */
}

.masthead .masthead-images .left-image,
.masthead .masthead-images .right-image {
  max-width: 160px;
  height: auto;
  opacity: 0.6;
  position: relative;
}
.masthead .masthead-images .left-image {
  left: -40px;
  bottom: -30px;
}
.masthead .masthead-images .right-image {
  transform: translateY(0%) scaleX(-1);
  right: -40px;
  bottom: -20px;
}

/* ====================== Search Input Styling ============== */
.search-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.search-input {
  border-radius: 50px;
  padding: 15px 0px;
  padding-left: 40px;
  border: none;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #6c757d;
  cursor: pointer;
}

nav .nav-signin {
  border-right: 3px solid black;
  /* padding-right: 10px; */
}

.refine-cat h4 {
  font-weight: 600;
  font-size: 20px;
}
.refine-cat {
  font-weight: 600;
  font-size: 20px;
}

.refine-cat .cat-btn {
  border: none;
  border-radius: 15px;
  padding: 16px;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 400;
}

.refine-cat .cat-btn:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.refine-cat .ads-widget {
  margin-top: 2rem;
}

.product-ads-widegt .product-title-opacity{
  font-weight: 200;
  font-size: 14px;
}

.product-ads-widegt .ad-card , .ad-card {

  overflow: hidden;
  border-radius: 0px !important;
} 
.product-ads-widegt .ad-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.filter-header p span i {
  opacity: 0.5;
  font-size: 16px;
}

.product-item .product-item-body .price span {
  color: var(---ng-secondary-five);
}
.product-item .product-item-body .price span:first-of-type {
  font-size: 14px;
}
.product-item .product-item-body .price span:last-of-type {
  font-size: 10px;
}
.product-item .product-item-main {
  padding: 10px;
}
.product-item .product-item-body {
  padding: 9px 0px;
}

.product-item .product-badge {
  top: 0.5rem;
  left: 0.5rem;
  font-size: 15px;
  padding: 3px 8px;
}

.product-main-box {
  border-right: none;
}

.product-main-box .product-box .image img {
  width: 100%;
}
.product-main-box .product-box .similar-prod-title {
  font-size: 15px;
  white-space: nowrap;
}
.product-main-box .product-box .similar-prod-title button {
  font-size: 10px;
  background-color: var(--ng-primary);
  border: none;
  color: white;
  padding: 7px;
  border-radius: 30px;
}

/* ========================== ADD TOOL BOX */
.add-stool {
  background-color: white;
  padding: 15px 25px;
  color: black;
  font-weight: bold;
}
.add-stool-text {
  color: var(---ng-secondary-three);
}
.add-stool span {
  /* padding: 20px; */
  background-color: var(--ng-primary);
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
/* SIDEBAR ADS  */
.ads-btn-details {
  color: var(--ng-primary);
  border: 1px solid var(--ng-primary);
}
.ads-btn-details:hover {
  background-color: var(--ng-primary);
  color: white;
}

/* ====================== PAGINATION ============== */
.pagination-list {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.pagination-list-next,
.pagination-list-prev {
  border: 1px solid var(--ng-primary);
  color: var(--ng-primary);
}
.pagination-list-next:hover,
.pagination-list-prev:hover {
  color: white;
  background-color: var(--ng-primary);
}
.pagination-list.pagination-active {
  color: white;
  background-color: var(--ng-primary);
}

/* ===================================== SWIPER */

.swiper {
  width: 100%;
}
.swiper-slide img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
}
.thumbnail-container {
  position: relative;
  margin-top: 10px;
}
.thumbnail-images {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.thumbnail-images img {
  width: 100px;
  height: 100px;
  padding: 5px;
  object-fit: cover;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 5px;
  transition: border 0.3s ease-in-out;
}
.thumbnail-img {
  cursor: pointer;
  transition: border 0.3s ease-in-out;
}

.thumbnail-img.active {
  border: 3px solid var(--ng-primary); /* Blue border when active */
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: -40px;
  transform: translateY(-50%);
  background: var(--ng-primary);
  color: white; /* White arrow color */
  border: none; /* Remove border */
  width: 45px; /* Button size */
  height: 45px;
  padding: 12px;
  border-radius: 50px;
  border: 1px solid #ddd;
  font-size: 18px;
  transition: background 0.3s ease-in-out;
}

/* Hide Default Swiper Icons */
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none !important; /* Hide default arrow icons */
}
.custom-swiper-nav {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.custom-swiper-nav .swiper-button-prev i,
.custom-swiper-nav .swiper-button-next i {
  font-size: 25px; /* Reduce icon size */
}

/* ====================FOOTER */

.footer-container {
  background-color: var(--ng-primary);
  padding: 0px 15px;

  padding-top: 5rem;
  padding-bottom: 2rem;
  margin-top: 20px;
}

.footer-container ul li,
.footer-p {
  color: white;
  opacity: 0.7;
}

/* ================== MEDIA SCREENS */

@media (min-width: 768px) {
  header.masthead {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  header.masthead h1,
  header.masthead .h1 {
    font-size: 3rem;
  }

  .masthead .masthead-images .left-image,
  .masthead .masthead-images .right-image {
    /* max-width: 300px; */
    max-width: 360px;
  }
  .masthead .masthead-images .left-image {
    bottom: -80px;
  }
  .masthead .masthead-images .right-image {
    bottom: -50px;
  }

  .product-item .product-item-main {
    padding: 18px;
  }
  .product-main-box .product-box .similar-prod-title {
    font-size: 17px;
  }

  .product-main-box .product-box .similar-prod-title button {
    font-size: 15px;
  }
}


@media (min-width: 1200px) {

  .product-main-box {
    border-right: 1px solid #5c646748;
  }
  


}


@media (min-width: 1560px) {
  .masthead .masthead-images .left-image,
  .masthead .masthead-images .right-image {
    max-width: 400px;
  }

  .masthead .masthead-images .left-image {
    bottom: -100px;
  }
  .masthead .masthead-images .right-image {
    bottom: -70px;
  }
}

@media (min-width: 1400px) {
  /* XXL screens */
  .container {
    max-width: 1300px !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    top: -20px;
  }


}

/* ====================================================== SINGLE PRODUCT PAGE */

.product-main-box .product-image .prod-badge {
  top: 0.5rem;
  left: 0.5rem;
  font-size: 15px;
  z-index: 50;
  color: var(--ng-white);
  padding: 7px 16px;
  border-radius: 5px;
}
.prod-opacity, .product-title-opacity {
  opacity: 0.6;
}
.product-main-box .product-content .prod-heading {
  font-weight: 400;
  line-height: 33px;
  padding-right: 30px;
  letter-spacing: 0;
  font-size: 20px;
  /* max-width: 400px; */
}
.product-main-box .product-content .prod-cat {
  border-top: 1px solid #6c757d4d;
  padding-top: 10px;
}
.product-main-box .product-content .phone-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}
.product-main-box .product-content .prod-contact .like-btn {
  color: black;
}
.product-main-box .product-content .prod-contact .like-btn:hover {
  color: white;
}

@media (min-width: 968px) {
  .product-main-box .product-box .image img {
    width: 100px;
    height: 100px;
  }
}
